@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Great+Vibes&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    color: #cacaca;
    scroll-behavior: smooth;
    font-family: "Cormorant Infant", serif;
    font-weight: 400;
    font-style: normal;
}

header {
    text-align: center;
    padding: 1px;
    background-color: rgba(27, 0, 16, 0.767);
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid #ffe8fc;
}

header h1 {
    font-size: 2rem;
    margin-bottom: 1px;
    color: #ffeafc;
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal; 
    text-align: center;
}

header p {
    font-size: 1rem;
    color: #f5e0ee;
}

/* Container principal com 3 colunas */
.quote-container {
    width: 70%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

/* Estilo de cada citação */
.quote {
    background-color: #0f0d0ff8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efeito de destaque ao passar o mouse sobre uma citação */
.quote:hover {
    transform: scale(1.05);
    z-index: 10;
    box-shadow: 0 8px 16px rgba(180, 16, 98, 0.623);
}

/* Para rolagem infinita */
html {
    scroll-behavior: smooth;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.4rem;
    background-color:rgba(27, 0, 16, 0.767);
    font-size: 13px;
    color: white;
}

footer p {
    margin: 0;
}